body {
 background-color: #f8f9fa !important;

}

b {
    color: #8ee28c;
}

a:hover:after,
a:focus:after {
    width: 100%;
}

.uname {
    margin-left: auto;

}

.Order_list, p {
   margin-right: 100px;
   text-align: center;
}

.Order_list{
display: flex;
flex-direction: row;
justify-content: center;
}

.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
