#FormControlSelect1 {
    width: 300px;
}

h3 {
    margin: 10px;

}

.o_fields {
    width: 500px;
    margin: 10px;
 

}

label {
    margin: 10px;
}

body {
    background-color: #f8f9fa !important;
}

